:root {
  --bg: #000026;
  --card: #ffffff;
  --text: #5E85D9;
  --muted: #6b7280;
  --primary: #2563eb;
  --danger: #dc2626;
  --ok: #16a34a;
  --space: 16px;
  --radius: 12px;
}

* {
  box-sizing:border-box;
}

body {
  margin: 1;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--bg);
  color: var(--text);
  display: grid;
  grid-template-rows: auto 1fr auto;
}

main {
  gap: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

section {
  border-radius: var(--radius);
  background-color: var(--card);
  width: 80%;
  padding:1%;
}
h2{
  width: 100%;
  text-align: center;
  font-family:fantasy;
  font-size: 3rem;
  word-spacing: 10px;
  letter-spacing: 10px;
}
form,
#result {
  font-size: 2rem;
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: center;
  gap: 10px;

}

input,
select {
  width: 80%;
  border-radius: var(--radius);
  height: 2rem;
}
footer{
  text-align: center;
  position:fixed;
  bottom: 0;
  width: 100%;
}
button{
  font: inherit;
  border-radius: 12px;
  background-color: var(--text);
  cursor: pointer;
  width: 30%;
}
button:hover {
  background-color: rgb(179, 221, 226);
  color: rgb(28, 9, 131);
}